.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout-background {
  display: flex;
  justify-content: space-between;
}

.avatar:hover {
  transition: width 1s, height 1s;
  width: 43px;
  height: 43px;
}

.header_profile {
  padding-right: 15px
}

.slider {
  min-height: 20vh;
}